server:
  port: 8082

spring:
  application:
    name: notification-service

  # Database for archiving notifications
  datasource:
    url: jdbc:postgresql://localhost:5432/notification_db
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # RabbitMQ Config
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  # Email Server (Pointing to local MailHog)
  mail:
    host: localhost
    port: 1025
    username: test
    password: test
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/