server:
  port: 8083

spring:
  application:
    name: session-service
  datasource:
    url: jdbc:postgresql://localhost:5432/session_db
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring.rabbitmq:
  host: localhost
  port: 5672

  resilience4j:
    retry:
      instances:
        userService:
          max-attempts: 3
          wait-duration: 2s
          enable-exponential-backoff: true